html{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

table{
    border: 1px solid;
    width:70%;
}

#centre_table{
    margin-left: auto;
    margin-right: auto;
}


img{
    width:500px;
    height:350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    align-items: left;
    justify-content: center
}

img {
max-width: 100%;
max-height:100%;
}

.text {
font-size: 20px;
padding-left: 10px;
}

.centre{
    text-align: center;
}

body{
    margin:10px;   
}