html{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

table{
    border: 1px solid;
    width:70%;
}

#centre_table{
    margin-left: auto;
    margin-right: auto;
}


.imgHannah{
    width:500px;
    height:350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgEila{
    
    display: block;
}

.container {
    display: flex;
    align-items: left;
    justify-content: center
}

.img2 {
    width:500px;
    height:350px;
}

.text {
font-size: 20px;
padding-left: 10px;
}

a:link, a:visited {
    background-color: #36bbf4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(0, 21, 255);
  }
.centre{
    text-align: center;
}

body{
    margin:10px;   
}

.index_container{
        position: relative;
        width: 400px;
        height: 200px;
        border: 3px solid #73AD21;      
}