html{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

table, th, td{
    border: 1px solid;
}

img {
    width:500px;
    height:350px;
}

.container {
    display: flex;
    align-items: left;
    justify-content: center
}

.img1 {
max-width: 100%;
max-height:100%;
}

.text {
font-size: 20px;
padding-left: 10px;
}

a:link, a:visited {
    background-color: #36bbf4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    display: inline-flexbox;
  }
  
  a:hover, a:active {
    background-color: red;
  }